#elem1{
	color: red;
}
#elem2{
	color: green;
}
#elem3{
	color: dodgerblue;
}
#elem h2{
	font-size: 25px;
}
#elem5 .text{
	color: olive;
}
#elem5 p.text{
	text-align: center;
	font-size: 27px;
}
#elem5 li.text{
	font-family: Arial;
	font-size: 30px;
}
